{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Naradhipa M S Bhary - Portfolio</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Naradhipa Bhary</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Tentang Saya</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Pengalaman</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Edukasi</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Minat</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../">Story 3</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid p-0">
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Naradhipa
                        <span class="text-primary">Bhary</span>
                    </h1>
                    <div class="subheading mb-5">
                        1906306842 - FASILKOM UI
                        <a href="mailto:naradhipa.mahardhika@ui.ac.id">naradhipa.mahardhika@ui.ac.id</a>
                    </div>
                    <p class="lead mb-5">Mahasiswa S1 jurusan ilmu komputer di Universitas Indonesia yang memiliki minat pada backend software development serta devops.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/naradhipa-bhary/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://gitlab.com/dhipa"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Pengalaman</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Proggrammer Backend</h3>
                            <div class="subheading mb-3">INPL</div>
                            <p>Tugas saya merancang, membuat, mendeploy, dan me-maintenance software backend untuk website INPL. Teknologi yang digunakan Node.js MongoSB, dan Elasticsearch</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2019 - Sekarang</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Software Engineer</h3>
                            <div class="subheading mb-3">COMPFEST 12</div>
                            <p>Tugas saya me-maintenance dan menambahakan berbagai fitur baru pada sistem backend Compfest. Saya juga bertanggung jawab atas infrastruktur backend Compfest 12. Teknologi yang digunakan Django, Redis, dan Postgresql. Untuk infrastruktur menggunakna AWS EC2 dengan load balancing dan AWS RDS untuk database. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Desember 2019 - Sekarang</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Edukasi</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universitas Indonesia</h3>
                            <div class="subheading mb-3">Sarjana Ilmu Komputer</div>
                            <div>Fakultas Ilmu Komputer</div>
                            <p>IPK: 3.81</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Agustus 2019 - Sekarang</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SMAN 2 Kota Tangerang Selatan</h3>
                            <div class="subheading mb-3">Jurusan MIPA</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Juli 2016 - Juli 2019</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SMP Al-Zahra Indonesia</h3>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Juli 2013 - Juli 2016</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SD Al-Zahra Indonesia</h3>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Juli 2017 - Juli 2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Minat dan Hobi</h2>
                    <p>Disamping programming saya senang membaca buku dan menonton film.</p>
                </div>
            </section>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
