{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Naradhipa Bhary - Contact Me</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.css"
          integrity="sha512-xbp9DExL/1FLDKhQIJNwoCaBjPytQcPMg82UsbBq02kckLcVzQms0+Ot54jXwuBjR6M91vaYHSmqrZlQ/nOEAQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>

<ul id="menu">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="">Kirimikan Pesan</a></li>
    <li><a href="../story1">Story 1</a></li>
</ul>


<div id="pagepiling">
    <div class="section contact-section">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class="masthead-heading text-uppercase mb-0" style="color: #ff165d !important;">Kirimkan Pesan</h2>
                        <br/>
                        <form>
                            <div class="form-group row">
                                <label for="inputNama" class="col-sm-2 col-form-label">Nama: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputNama" placeholder="Naradhipa Bhary">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Nama: </label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="me@naradhipabhary.gov">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Pesan</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="send-btn">Kirimkan Pesan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js"
        integrity="sha512-FcXc9c211aHVJEHxoj2fNFeT8+wUESf/4mUDIR7c31ccLF3Y6m+n+Wsoq4dp2sCnEEDVmjhuXX6TfYNJO6AG6A=="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var deleteLog = false;

    $(document).ready(function () {
        $('#pagepiling').pagepiling({
            menu: '#menu',
            anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
        });
    });

</script>
</body>
</html>
