{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Naradhipa Bhary</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.css"
          integrity="sha512-xbp9DExL/1FLDKhQIJNwoCaBjPytQcPMg82UsbBq02kckLcVzQms0+Ot54jXwuBjR6M91vaYHSmqrZlQ/nOEAQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>

<ul id="menu">
    <li data-menuanchor="page1" class="active"><a href="#page1">Home</a></li>
    <li data-menuanchor="page2"><a href="#page2">Tentang Saya</a></li>
    <li data-menuanchor="page3"><a href="#page3">Pendidikan & Pengalamman</a></li>
    <li data-menuanchor="page4"><a href="#page4">Portofolio</a></li>
    <li data-menuanchor="page5"><a href="#page5">Hubungi Saya</a></li>
    <li><a href="/contact">Kirimkan Pesan</a></li>
    <li><a href="../story1">Story 1</a></li>
</ul>


<div id="pagepiling">
    <div class="section home-section">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <img src="{% static 'image/dhipa.jpg' %}" class="img-fluid w-25 rounded-circle main-image"
                             alt="Naradhipa Bhary"/>
                        <h1 class="masthead-heading text-uppercase mb-0">Naradhipa BHARY</h1>
                        <p class="lead">Backend Developer - Mahasiswa FASILKOM UI</p>
                    </div>
                </div>
                <div class="next-section">
                    <h6>Tentang Saya</h6>
                    <a href="#page2" class="arrow down"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section tentang-saya">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class="masthead-heading text-uppercase mb-0">Tentang saya</h2>
                        <br/>
                        <p class="lead">Saya adalah seorang mahasiswa S1 jurusan ilmu komputer di Universitas Indonesia
                            yang memiliki minat pada backend software development serta devops. </p>
                    </div>
                </div>
                <div class="next-section">
                    <h6>Pendidikan & Pengalaman</h6>
                    <a href="#page3" class="arrow down"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section home-section">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class="masthead-heading text-uppercase mb-0">Pendidikan dan Pengalaman</h2>
                        <br/>
                        <div class="container w-100">
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <h3>Pendidikan</h3>
                                    <ul class="list-group text-left">
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-0">Fakultas Ilmu Komputer Universitas Indonesia</h6>
                                                </div>
                                                <div class="flex-shrink-0"><span>Agustus 2019 - Sekarang</span></div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h4 class="mb-0">SMAN 2 KOTA TANGERANG SELATAN</h4>
                                                </div>
                                                <div class="flex-shrink-0"><span>Juli 2016 - Juli 2019</span></div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h4 class="mb-0">SMP Al-Zahra Indonesia</h4>
                                                </div>
                                                <div class="flex-shrink-0"><span>Juli 2013 - Juli 2016</span></div>
                                            </div>
                                        </li>
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h4 class="mb-0">SD Al-Zahra Indonesia</h4>
                                                </div>
                                                <div class="flex-shrink-0"><span>Juli 2007 - Juli 2013</span></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <h3>Pengalaman</h3>
                                    <ul class="list-group text-left">
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-0">Backend Programmer - INPL</h6>
                                                </div>
                                                <div class="flex-shrink-0"><span>September 2019 - Sekarang</span></div>
                                            </div>
                                            <h6 class="mb-0 p small desc">Tugas saya merancang, membuat, mendeploy, dan
                                                me-maintenance software backend untuk website INPL. Teknologi yang
                                                digunakan Node.js MongoDB, dan Elasticsearch
                                            </h6>
                                        </li>
                                        <li class="list-item">
                                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-0">Software Engineer - COMPFEST -12</h6>
                                                </div>
                                                <div class="flex-shrink-0"><span>Desember 2019 - Sekarang</span></div>
                                            </div>
                                            <h6 class="mb-0 p small desc">Tugas saya me-maintenance dan menambahakan
                                                berbagai fitur baru pada sistem backend Compfest. Saya juga bertanggung
                                                jawab atas infrastruktur backend Compfest 12. Teknologi yang digunakan
                                                Django, Redis, dan Postgresql. Untuk infrastruktur menggunakan AWS EC2
                                                dengan load balancing dan AWS RDS untuk database.</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-section">
                        <h6>Portofolio</h6>
                        <a href="#page4" class="arrow down"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section tentang-saya">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class="masthead-heading text-uppercase mb-0">Portofolio</h2>
                        <br/>
                        <div class="container w-100">
                            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">

                                <div class="col-5">
                                    <a href="https://e-trash.naradhipabhary.com">
                                        <div class="card card-block card-1 text-center">
                                            <h3 class="h2 text-shadow">E-Trash</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-5">
                                    <a href="https://inpel.id">
                                        <div class="card card-block card-2 text-center">
                                            <h3 class="h2 text-shadow">INPL</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-5">
                                    <a href="https://compfest.id">
                                        <div class="card card-block card-3 text-center">
                                            <h3 class="h2 text-shadow">COMPFEST</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-section">
                        <h6>Hubungi Saya</h6>
                        <a href="#page5" class="arrow down"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section contact-section">
        <div class="masthead">
            <div class="container h-100" style="position: relative">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h2 class="masthead-heading text-uppercase mb-0" style="color: #ff165d !important;">Hubungi Saya</h2>
                        <br/>
                        <p class="lead">Hubungi saya melalui website, atau kunjungi media sosial saya. </p><br/>
                        <a type="button" class="pulse-button" href="contact.html">KIRIMKAN PESAN</a><br/>
                        <a class="fa fa-linkedin fa-2x socialmedia" href="https://www.linkedin.com/in/naradhipa-bhary/"></a>
                        <a class="fa fa-gitlab fa-2x socialmedia" href="https://gitlab.com/dhipa"></a>
                        <a class="fa fa-envelope fa-2x socialmedia" href="mailto:naradhipabhary27@gmail.com"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pagePiling.js/1.5.6/jquery.pagepiling.min.js"
        integrity="sha512-FcXc9c211aHVJEHxoj2fNFeT8+wUESf/4mUDIR7c31ccLF3Y6m+n+Wsoq4dp2sCnEEDVmjhuXX6TfYNJO6AG6A=="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#pagepiling').pagepiling({
            menu: '#menu',
            anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
            navigation: {
                'textColor': '#f2f2f2',
                'bulletsColor': '#ccc',
                'position': 'right',
                'tooltips': ['Home', 'Tentang Saya', 'Riwayat Pendidikan & Pengalaman', 'Portofolio', 'Hubungi saya']
            }
        });
    });

</script>
</body>
</html>
