@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2f2f2;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 2em;
}

.section {
    text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    text-decoration: underline;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #000;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
}


/* Style for our header texts
	* --------------------------------------- */
h1 {
    font-size: 5em;
    font-family: arial, helvetica;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section1,
#section2,
#section3 {
    background-size: cover;
}


#section1 h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    color: #fff;
}

#section2 .intro {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
}

#section2 h1,
#section2 p {
    text-shadow: 1px 5px 20px #000;
}

#section3 h1,
#section3 p {
    text-shadow: 1px 5px 20px #000;
    color: #fff;
}

#infoMenu li a {
    color: #fff;
}

h1, h2, h3, h4, h5, h6, a, button, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.masthead {
    height: 100vh;
    min-height: 500px;
}

.masthead-heading {
    margin-bottom: 4%;
}

@media (max-width: 700px) {
    .desc {
        display: none;
    }

    #menu {
        display: none;
    }
}

.masthead .masthead-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

@media (min-width: 992px) {
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }

}


.home-section {
    background-color: #1abc9c;
}

.tentang-saya {
    background-color: #3ec1d3;
}

.contact-section {
    background-color: #f6f7d7;
    color: #ff165d !important;
}

.contact-text {
    color: #ff165d !important;
}

.home-section .main-image {
    border: 5px solid #f2f2f2;
    margin-bottom: 3%;
}

.next-section {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}

.contact-section .form-control {
    outline: 0;
    background-color: transparent;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.list-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
}

.container-tabel {
    position: relative;
    width: 100%;
    background-color: #666666;
}

.tabel {
    display: inline-block;
    background-color: #3ec1d3;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.card-block {
    height: 250px;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
    position: relative;
    text-align: center;
}

.card-1 {
    background-color: #4158D0;
    background-size: contain;
    background-image: url("../image/etrash.png");
}

.card-2 {
    background-color: #0093E9;
    background-size: contain;
    background-image: url("../image/inpl.png");
}

.card-3 {
    background-color: #00DBDE;
    background-size: contain;
    background-image: url("../image/compfest-white.svg");
}

.text-shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.93);
    vertical-align: center;
}


.socialmedia {
    margin: 5%;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 1px currentColor;
    padding: 0.5em 0.6em;
    color: #ff165d;

}

.pulse-button {

    position: relative;
    width: 30%;
    height: 20%;
    border: none;
    box-shadow: 0 0 0 0 rgba(225, 22, 93, 0.7);
    border-radius: 25px;
    background-color: #ff165d;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    color: #f2f2f2;
}

.send-btn {
    width: 30%;
    height: 20%;
    border: none;
    box-shadow: 0 0 0 0 rgba(225, 22, 93, 0.7);
    border-radius: 25px;
    background-color: #ff165d;
    cursor: pointer;
    color: #f2f2f2;
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(225, 22, 93, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(225, 22, 93, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(225, 22, 93, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(225, 22, 93, 0);
    }
}
